@import "fonts/Metropolis/metropolis.css";

:root {
    /* COLORS */

    --black-color: #0F0F0F;
    --white-color: #EDEAE8;
    --chess-grid-color: rgba(237, 234, 232, 40%);

    /* FONT */

    --font-family: "Metropolis", sans-serif;
    --body-size: 16px;
    --font-size-ratio: 1.414;
    --h5-font-size: calc(var(--body-size) * var(--font-size-ratio));
    --h4-font-size: calc(var(--h5-font-size) * var(--font-size-ratio));
    --h3-font-size: calc(var(--h4-font-size) * var(--font-size-ratio));
    --h2-font-size: calc(var(--h3-font-size) * var(--font-size-ratio));
    --h1-font-size: calc(var(--h2-font-size) * var(--font-size-ratio));
    --font-weight: normal;

    /* OTHER */

    --grid-size: 72px;
    --grid-diagonal: 102px;
    --chess-board-small-height: calc(0.0947 * 100vh); /* WARNING: VALUE IS ALSO HARD CODED IN Home.vue. There was no choice */
    --chess-board-small-width: calc(0.099 * 100vw); /* WARNING: VALUE IS ALSO HARD CODED IN Home.vue. There was no choice */
    --call-to-action-width: calc(0.714 * 100vw);
    --menu-grid-portion: calc(0.15 * 100vw);
}
